@charset "utf-8";

main {
    background-color: brown;
    padding: 20px;
    border-radius: 5px;
    margin: 50px, auto;
    max-width: 1000px;
    width: 100%;
}

.news {
    height: 100px;
    overflow: auto;

}

.example2 {
    overflow-x: auto;
    width: 400px;
}
.example2>div {
    display: flex;
    width: 500px;
}

.example2>div>div{
    border: 1px solid #999;
    padding: 10px 20px;
    margin: 10px;
    background: #f2f2f2;
}
.example3 {
    overflow-x: auto;
    width: 150px;
}

.fixed01 {
    width: 200px;
}

.table_wrp {
    width: 150px;
    overflow-x: auto;
}
table{
    border-collapse:collapse;
    
  }
table, th, td,tr {
    border: 1px solid #000;
}

td,th {
    padding: 10px,20px;
    white-space: nowrap;
}
th{
    //これで見出し固定できる
    position:sticky;
    left:0;
    background-color:#fff;
  }